h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #6209bb3e;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.08em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  width: 100%;
  background: linear-gradient(#af74eae0, #fff);
  position: fixed;
  z-index: 100;
}

.header-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 100px;
}

.nav__item__link {
  color: rgba(0, 0, 0, 0.866);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__item__link:hover, .nav__item__link:focus {
  color: #d80036;
}

.current-link {
  color: #d80036;
}

.header__contacts {
  display: flex;
  list-style: none;
}

.header__contacts--item {
  margin-right: 30px;
}

.header__contacts--link {
  color: rgba(0, 0, 0, 0.866);
  font-weight: 600;
}

.header__contacts--link:hover, .header__contacts--link:focus {
  color: #d80036;
}

.header__language {
  display: flex;
}

.header__language--item:not(:last-child) {
  margin-right: 20px;
}

.header__language--link {
  color: rgba(0, 0, 0, 0.866);
}

.header__language--link:hover, .header__language--link:focus {
  color: #d80036;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(#fff, #6209bb3e);
}

.projects__title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #d80036;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
}

.projects__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -45px;
  margin-bottom: -30px;
}

.projects__list--item {
  margin-left: 45px;
  margin-bottom: 30px;
}

.projects__list--img {
  height: 340px;
  width: 400px;
}

.port-hover-window {
  border: 1px solid #d80036;
  border-radius: 3%;
  -webkit-box-shadow: 0px 0px 23px 2px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 0px 23px 2px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 0px 23px 2px rgba(34, 60, 80, 0.28);
  position: relative;
  overflow: hidden;
}

.projects__list--imgDescription {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #d80036;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.91);
  transform: translateY(-100%);
  transition: transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__list--title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.projects__list--description {
  padding: 20px 20px;
}

.galery-shadow:hover .projects__list--imgDescription,
.galery-shadow:focus .projects__list--imgDescription {
  transform: translateY(0%);
}

.github-link {
  padding: 20px 20px 0 20px;
  color: #000;
  font-size: 18px;
}

.aboutMe {
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 60px;
}

.aboutMe__container {
  display: flex;
  justify-content: space-between;
}

.aboutMe__description--container {
  margin-top: 30px;
}

.aboutMe__mainTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Alfa Slab One', cursive;
}

.aboutMe__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.aboutMe__description--text {
  width: 500px;
  margin-bottom: 40px;
}

.aboutMe__list {
  display: flex;
  list-style: none;
}

.aboutMe__list--item:not(:last-child) {
  margin-right: 15px;
}

.aboutMe__list--link {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(52, 50, 50, 0.751);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(#6209bb3e, #fff);
}

.skills__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  color: #d80036;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
}

.skils__list {
  display: flex;
  justify-content: space-between;
}

.skils__list--item {
  text-align: center;
  font-weight: 600;
}

.skills__list--img {
  margin-top: 10px;
  animation: pulsing 10s infinite;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.skills__websites--container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.skills__secondTitle {
  margin-bottom: 20px;
  color: #d80036;
  font-weight: 500;
  font-family: 'Alfa Slab One', cursive;
}

.skills__websites--lists {
  list-style: circle;
  font-weight: 600;
}

.skills__websites--item:not(:last-child) {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */