.aboutMe{
    padding-top: 100px;
    background-color: #fff;
    padding-bottom: 60px;
}

.aboutMe__container{
    display: flex;
    justify-content: space-between;
}

.aboutMe__description--container{
    margin-top: 30px;

}

.aboutMe__mainTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Alfa Slab One', cursive;
}

.aboutMe__img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.aboutMe__description--text{
    width: 500px;
    margin-bottom: 40px;
}

.aboutMe__list{
    display: flex;
    list-style: none;
}

.aboutMe__list--item:not(:last-child){
    margin-right: 15px;
}

.aboutMe__list--link{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(52, 50, 50, 0.751);
    border-radius: 50%;
    // background-color: rgb(143, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}