.header {
    // border-bottom: 1px solid #d41443;
    width: 100%;
    background: linear-gradient(#af74eae0, #fff);
    // background-color: #af74eae0;
    position: fixed;
    z-index: 100;
}

.header-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    // height: 60px;
    display: flex;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.nav__list{
    display: flex;
}

.nav__item{
    list-style: none;
    // letter-spacing: 0.2em;

        &:not(:last-child) {
            margin-right: 100px;
        }
}

.nav__item__link{
    color: rgba(0, 0, 0, 0.866);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover,
    &:focus {
        color: #d80036;
    }
}

.current-link{
    color: #d80036;
}

.header__contacts{
    display: flex;
    list-style: none;
}

.header__contacts--item{
    margin-right: 30px;
}

.header__contacts--link{
    color: rgba(0, 0, 0, 0.866);
    font-weight: 600;
    // letter-spacing: 0.1em;

    &:hover,
    &:focus{
        color: #d80036;
    }
}

.header__language{
    display: flex;
}

.header__language--item:not(:last-child){
    margin-right: 20px;
}

.header__language--link{
    color: rgba(0, 0, 0, 0.866);

    &:hover,
        &:focus {
            color: #d80036;
        }
}