.header {
    // display: flex;
    // align-items: center;
    // background-color: rgba(99, 64, 168, 0.742);
    border-bottom: 1px solid #d41443;
    width: 100%;
    // position: absolute;
}

.header-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    // height: 60px;
    display: flex;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.nav__list{
    display: flex;
}

.nav__item{
    list-style: none;
    letter-spacing: 0.2em;

        &:not(:last-child) {
            margin-right: 100px;
        }
}

.nav__item__link{
    color: rgba(0, 0, 0, 0.866);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover,
    &:focus {
        color: #d41443;
    }
}

.current-link{
    color: #d41443;
}

.header__contacts{
    display: flex;
    list-style: none;
}

.header__contacts--item{
    margin-right: 30px;
}

.header__contacts--link{
    color: #d41443;
    letter-spacing: 0.1em;
}